section.approach
  .container
    .title.title-with-bottom-line
      h2.title_header Our Approch
      .title_text Check Our approches step by step ( how we do it )

    ul.approach_list
      li.approach_item
        .approach_image
          img.approach_picture(src="../img/step-1.jpg" alt="picture")
          .approach_step step
        .approach_text
          .approach_title Step 1 : Heading Here
          p.approach_description.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled.
      li.approach_item
        .approach_image
          img.approach_picture(src="../img/step-2.jpg" alt="picture")
          .approach_step step
        .approach_text
          .approach_title Step 2 : Heading Here
          p.approach_description.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled.
      li.approach_item
        .approach_image
          img.approach_picture(src="../img/step-3.jpg" alt="picture")
          .approach_step step
        .approach_text
          .approach_title Step 3 : Heading Here
          p.approach_description.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled.
      li.approach_item
        .approach_image
          img.approach_picture(src="../img/step-4.jpg" alt="picture")
          .approach_step step
        .approach_text
          .approach_title Step 4 : Heading Here
          p.approach_description.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled.