.contacts
    a.contact(href="tel:+996337148148")
        i.fas.fa-mobile.contact_icon(aria-hidden="true")
        span.contact_text 996337148148
    a.contact.contact-icon(href="mailto:info@business.com")
        i.fas.fa-envelope-square(aria-hidden="true")
        span.contact_text info@business.com
    a.facebook-icon(href="facebook.com")
        i.fas.fa-facebook